#!/usr/bin/make -f

DESTDIR=debian/android-n7-wifi-aosp

%:
	dh $@ 

override_dh_auto_install:
	cp -a android $(DESTDIR)
	(cd $(DESTDIR) && ../../restore-meta.sh <../../android.metadata)
	mkdir -p $(DESTDIR)/usr/share/android-n7-wifi-aosp
	gzip -9 <android.metadata \
	        >$(DESTDIR)/usr/share/android-n7-wifi-aosp/android.metadata.gz

override_dh_strip:
override_dh_makeshlibs:
override_dh_shlibdeps:
	# pass

override_dh_fixperms:
	dh_fixperms --exclude /android
